@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-tomoro-brown: #3C2A21;
  --color-tomoro-gold: #D35400;
  --color-tomoro-cream: #FDFCFB;
  
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-heading: "Poppins", sans-serif;
}